apiVersion: 1

datasources:
  - name: Mimir
    type: prometheus
    access: proxy
    url: http://mimir:9009/prometheus
    isDefault: true
    editable: true
    jsonData:
      httpHeaderName1: X-Scope-OrgID
      timeInterval: 60s
      prometheusType: Mimir
    secureJsonData:
      httpHeaderValue1: anonymous
